@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Order Confirm";
}

<div class="container">
    <h2>Thank you for your order!</h2>
    <p>Your order has been successfully placed.</p>
</div>
<a asp-action="Orders" asp-controller="Order" class="btn btn-secondary">Go to Cart </a>